@model LinqInfo

<style>
    .linq-table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
    }

        .linq-table thead th {
            background-color: #DDEFEF;
            border: solid 1px #DDEEEE;
            color: #336B6B;
            padding: 10px;
            text-align: left;
            text-shadow: 1px 1px 1px #fff;
        }

        .linq-table tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }
</style>

<h2>@Html.DisplayFor(m => Model.Title)</h2>
<div>Ticks: @Html.DisplayFor(m => Model.ElapsedTicks)</div>
@if (!string.IsNullOrEmpty(Model.Text))
{
    <div>@Html.DisplayFor(m => m.Text)</div>
}

@if (Model.ContactList != null && Model.ContactList.Any())
{
    <table class="linq-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Birthday</th>
                <th>Hired</th>
                <th>Javascript</th>
                <th>React</th>
                <th>Css/Html</th>
                <th>Asp.Net</th>
                <th>Sql</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.ContactList)
            {
                <tr>
                    <td>@Html.DisplayFor(m => contact.Name)</td>
                    <td>@Html.DisplayFor(m => contact.Department)</td>
                    <td>@Html.DisplayFor(m => contact.Birthday)</td>
                    <td>@Html.DisplayFor(m => contact.HiredDate)</td>
                    <td>@Html.DisplayFor(m => contact.JavascriptCompetence.YearsExperience)</td>
                    <td>@Html.DisplayFor(m => contact.ReactCompetence.YearsExperience)</td>
                    <td>@Html.DisplayFor(m => contact.CssHtmlCompetence.YearsExperience)</td>
                    <td>@Html.DisplayFor(m => contact.AspNetCompetence.YearsExperience)</td>
                    <td>@Html.DisplayFor(m => contact.SqlCompetence.YearsExperience)</td>
                </tr>
            }
        </tbody>
    </table>
    <hr/>
}
